$color:red;

ul{
    font-size: 15px;
    color:$color;
}

ol{
    font-size: 18px;
    color:$color;
}

we can also do the following
div{
    font-size:
    p{
        color:blue;
    }
    ul{
        color:blanchedalmond
    }
}